* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url('../assets/images/expedition_hero.jpg');
    height: 80vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}